
/* -------------------------
Stock picking design
---------------------------- */
table {
    margin: 0 auto;
}

h1 {
    font-family: 'Sansita One', cursive;
    font-size: 2em;
}

h1 a, h1 a:hover {
    text-decoration: none;
}

#stock_bucket {
}

body {
    font-family: 'Helvetica';
}

td, th {
    width: 15%;
    border-right: 1px solid lightgray;
    text-align: center;
    border-bottom: 1px solid lightgray;

}

tr:last-of-type {
    border-bottom: none;
}

tr:last-child {
    border-bottom: none;
}

td:last-child, th:last-child {
    border-right: none;
}